<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Form1.Properties.Settings.ProdiTIConnectionString"
            connectionString="Data Source=LAPTOP-69KQVMS1\DZAKY_NAUFAL;Initial Catalog=ProdiTI;User ID=sa;Password=Xi031202"
            providerName="System.Data.SqlClient" />
        <add name="Form1.Properties.Settings.ProdiTIConnectionString1"
            connectionString="Data Source=LAPTOP-69KQVMS1\DZAKY_NAUFAL;Initial Catalog=ProdiTI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>